/* Write your CSS code here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.heading {
  color: #6d396b;
}

.img {
  width: 40%;
}
